* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.customBadge {
  background: #2196F3;
  padding: .1rem;
  margin-right: .5rem;
  /* margin-top: .5rem !important; */
  border-radius: 5px;
  color: #fff !important;
}



.fixed-action-btn{
  /* left: 20px; */
}



/* WORKS ? */
.btn-floating{
  
  /* right: 1000px; */
 
}

/* .model-trigger{
  left:0;
} */